<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="com/demo/config/bean_action.xml"/>
    <import resource="com/demo/config/bean_base.xml"/>
    <import resource="com/demo/config/bean_dao.xml"/>
    <import resource="com/demo/config/bean_service.xml"/>

</beans>